# See the documentation for more information: https://pocket-id.org/docs/configuration/environment-variables
APP_URL=https: (Your App URL)
TRUST_PROXY=true
MAXMIND_LICENSE_KEY=yes
PUID=1000
PGID=1000
MAXMIND_LICENSE_KEY= <MAXMIND_LICENSE_KEY> (optional)
ENCRYPTION_KEY= <ENCRYPTION_KEY base64 32>
